body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }

h2 {
    color: #333;
}

#GridViewEquipos {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

    #GridViewEquipos th, #GridViewEquipos td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    #GridViewEquipos th {
        background-color: #4CAF50;
        color: white;
    }
